<h1>Welcome to AXA Charts</h1>
<!-- <canvas id="myChart" ></canvas> -->
 <div>
  
 </div>
<p-card class="chart-card" header="Stock Chart">
  <div class="card-content">
    <canvas class="chart" id="myChart"></canvas>
  </div>
</p-card>
<div *ngIf="dataRetrieved">
  
  <p-card class="table-card">
    <p-table
    [value]="chartData"
    editable="true"
    editMode="row"
    dataKey="date"
    stripedRows 
    [paginator]="true"
    [rows]="10"
    (onRowEditSave)="saveRowEdit($event)"
    #dt
    class="table"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="timestamp" [width]="'50%'">Date <p-sortIcon field="code" /></th>
        <th pSortableColumn="stock" [width]="'20%'">Stock <p-sortIcon field="code" /></th>
        <th [width]="'10%'">Action</th>
      </tr>
    </ng-template>
  
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-editing="editing">
      <tr [pEditableRow]="rowData">
        <td>{{ rowData.timestamp | date:'MMM d, y, HH:mm:ss' }}</td>
  
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                type="number"
                pInputText
                [(ngModel)]="rowData.stock"
                (keydown.enter)="onEnterEdit(rowData, rowIndex)"
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ rowData.stock }}
            </ng-template>
          </p-cellEditor>
        </td>
  
        <td class="end-row">
          <button
            *ngIf="editingRow !== rowData"
            pButton
            type="button"
            icon="pi pi-pencil"
            (click)="startEdit(rowData, dt)"
          ></button>
      
          <button
            *ngIf="editingRow === rowData"
            pButton
            type="button"
            icon="pi pi-check"
            (click)="saveEdit(rowData)"
          ></button>
      
          <button
            *ngIf="editingRow === rowData"
            pButton
            type="button"
            icon="pi pi-times"
            (click)="cancelEdit(dt)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
  
  
<p-toast></p-toast>